html {
    color: white;
    background-image: url('./assets/noise-background.png');
    background-color: rgb(86, 110, 61);
    height: 100%;
    width: 100%;

}
div {
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(260deg, rgba(0,0,0,0.8211659663865546) 0%, rgba(255,255,255,0) 100%); */
    background: linear-gradient(250deg, rgba(0, 0, 0, 0.11) 0%, rgba(255, 255, 255, 0) 100%);
    background: rgba(17, 12, 12, 0.158);
    padding: 10px;    
    width: auto;
    border-radius: 10px;
}

.nav{
display: flex;
  justify-content: space-between;
  background-color: rgb(128,0,0);
  flex-wrap: wrap;
  
  
  color: white;
  padding: 15px;
  font-size: 2em;
}

a {
    color: rgb(174, 164, 191);

}

.nav a {
    color: white;
    text-decoration: none;
    
  }


